@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500; /* Medium */
    font-style: normal;
    src: url('./assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url('./assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
}

:root {
    --text-black: #212121;
    --bg-white: #FFFFFF;
    --accent-blue: #3B82F6;
    --hover: #191B62;
    --accent-red: #881A20;
    --accent-green: #2CA828;
    --accent-gray: #A9A9A9;
    --accent-white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0 20px;

    transition: all 0.3s ease;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;

    color: var(--text-black);
    background-color: var(--bg-white);
}

@media (max-width: 767px) {
    body {
        padding: 0 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        padding: 0 15px;
    }
}

@media (min-width: 1025px) {
    body {
        padding: 0 20px;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

